{{- $cmd := .Command -}}
{{- if not $cmd.Group}}
  {{$cmd.Name | CamelCase}}Cmd.Action = func(ctx context.Context, cmd *urfavecli.Command) error {
   
    {{template "cmd_action_args.tmpl" .}}
    {{template "cmd_action_flags.tmpl" .}}

    return impl.{{$cmd.Name | PascalCase}}(ctx, cmd{{if $cmd.Arguments}}, args{{end}}{{if $cmd.Flags}}, flags{{end}})
  }
{{- end}}