	{{- if .Command.Flags}}
	{{.Command.Name | CamelCase}}Cmd.Flags = []urfavecli.Flag{
	{{- range .Command.Flags}}
		&urfavecli.{{if eq .Type "string"}}String{{else}}Bool{{end}}{{if .Variadic}}Slice{{end}}Flag{
			Name: "{{.Name | EscapeString}}",
			{{- if .Summary}}
			Usage: "{{.Summary | EscapeString}}",
			{{- else if .Description}}
			Usage: "{{.Description | EscapeString}}",
			{{- end}}
			{{- if .Aliases}}
			Aliases: []string{
			{{- range .Aliases}}
				"{{. | EscapeString}}",
			{{- end}}
			},
			{{- end}}
			{{- if .Default.IsSet}}
			Value: {{if eq .Type "string"}}"{{.Default.String}}"{{else}}{{.Default.Bool}}{{end}},
			{{- end}}
			Hidden: {{.Hidden}},
		},
	{{- end}}
	}
	{{- end}}