{{/* Generate the code that appends flags to a command */}}

{{- /* Generate the code that appends flags to a command */ -}}
{{- define "template.defaultVal" -}}
  {{- if eq .Type "string" -}}
  "{{.Default}}"
  {{- else -}}
  {{.Default}}
  {{- end -}}
{{- end -}}

{{- define "template.flagFn" -}}
  {{- if and (eq .Type "string") (.Alias) -}}
    StringVarP(&flag{{.FlagPropName}}, "{{.Name}}", "{{.Alias}}", {{template "template.defaultVal" (.)}}, "{{.Summary}}")
  {{- else if eq .Type "string" -}}
    StringVar(&flag{{.FlagPropName}}, "{{.Name}}", {{template "template.defaultVal" (.)}}, "{{.Summary}}")
  {{- else if and (eq .Type "bool") (.Alias) -}}
    BoolVarP(&flag{{.FlagPropName}}, "{{.Name}}", "{{.Alias}}", {{template "template.defaultVal" (.)}}, "{{.Summary}}")
  {{- else if eq .Type "bool" -}}
    BoolVar(&flag{{.FlagPropName}}, "{{.Name}}", {{template "template.defaultVal" (.)}}, "{{.Summary}}")
  {{- end -}}
{{- end -}}

{{- if .Flags -}}
  // Add command flags
{{- end -}}
{{- range $i, $val := .Flags}}
  cmd.Flags().{{template "template.flagFn" ($val)}}
{{- end}}
{{- range $i, $val := .Flags}}
  {{- if $val.Required}}
  cmd.MarkFlagRequired("{{$val.Name}}")
  {{- end -}}
{{- end}}