// CLIInterface represents all CLI command handlers.
type CLIInterface interface {
  {{- range $i, $val := .Commands -}}
  {{template "template.commandHandlerFn" ($val) -}}
  {{- end}}
}

{{- define "template.commandHandlerFn" }}
  {{- if .HandlerFnName}}
  // {{.HandlerFnName}} is the handler function run when a particular command is invoked
  {{- if and (.Flags) (.PositionalArgs) }}
  {{.HandlerFnName}}(ctx context.Context, args []string, flags {{.HandlerFnName}}Flags) error
  {{- else if .PositionalArgs}}
  {{.HandlerFnName}}(ctx context.Context, args []string) error
  {{- else if .Flags}}
  {{.HandlerFnName}}(ctx context.Context, flags {{.HandlerFnName}}Flags) error
  {{- else}}
  {{.HandlerFnName}}(ctx context.Context) error
  {{- end}}
  {{- end}}
  {{- range $i, $val := .Subcommands -}}
    {{- template "template.commandHandlerFn" ($val) -}}
  {{- end -}}
{{- end -}}