# {{.Info.Title}}

_{{.Info.Summary}}_

{{.Info.Description}}

{{- if or (.Info.License.Name) (.Info.License.SpdxID)}}

#### License 
{{if and (.Info.License.SpdxID) (.Info.License.URL)}}
[{{.Info.License.SpdxID}}]({{.Info.License.URL}})
{{- else if .Info.License.SpdxID}}
[{{.Info.License.SpdxID}}](https://spdx.org/licenses/MIT.html{{.Info.License.SpdxID}})
{{- else if (.Info.License.Name) (.Info.License.URL)}}
[{{.Info.License.Name}}]({{.Info.License.URL}})
{{- else}}
{{.Info.License.Name}}
{{- end}}
{{- end}}

{{- if or (.Info.Contact.Name) (.Info.Contact.Email) (.Info.Contact.URL)}}

#### Contact
{{if .Info.Contact.Name}}
{{.Info.Contact.Name}}  {{end}}
{{- if .Info.Contact.URL}}
{{.Info.Contact.URL}}  {{end}}
{{- if .Info.Contact.Email}}
[{{.Info.Contact.Email}}](mailto:{{.Info.Contact.Email}}){{end}}
{{- end}}

{{- if .Install}}

## Install
{{- range .Install}}

### {{.Name}}
{{- if .Command}}

```sh
{{.Command}}
```
{{- end}}
{{- if .URL}}

{{.URL}}
{{- end}}
{{- if .Description}}

{{.Description -}}
{{- end -}}
{{- end -}}
{{end -}}

{{- if and (.Commands) (.VisibleCommands) }}

---

## Commands
{{range .Commands}}{{if not .Hidden}}
### `$ {{.Line}}`
{{- if .Summary}}

{{.Summary}}{{end}}
{{- if .Description}}

{{.Description}}{{end}}
{{- if .Arguments}}
#### Arguments
{{range .Arguments}}
##### `<{{.Name}}>`
{{- if .Summary}}

{{.Summary}}{{end}}
{{- if .Description}}

{{.Description}}{{end}}

{{if .Choices}}`enum`{{else}}`{{.Type}}`{{end}} {{if .Required}}`required`{{end}}
{{- end}}
{{- end}}
{{- if and (.Flags) (.VisibleFlags)}}

#### Flags
{{range .Flags}}
##### `--{{.Name}}`
{{- if .Summary}}

{{.Summary}}{{end}}
{{- if .Description}}

{{.Description}}{{end}}

{{if .Choices}}`enum`{{else}}`{{.Type}}`{{end}} {{if .Required}}`required`{{end}}
{{- end}}
{{- end}}

---{{end}}{{end}}
{{end}}

<div style="text-align:center;font-size:12px;">generated by <a href="https://github.com/bcdxn/opencli">ocli</a></div>