# {{.Doc.Info.Title}}

_{{.Doc.Info.Summary}}_

{{.Doc.Info.Description}}

{{- if or (.Doc.Info.License.Name) (.Doc.Info.License.SpdxID)}}

#### License 
{{if and (.Doc.Info.License.SpdxID) (.Doc.Info.License.URL)}}
[{{.Doc.Info.License.SpdxID}}]({{.Doc.Info.License.URL}})
{{- else if .Doc.Info.License.SpdxID}}
[{{.Doc.Info.License.SpdxID}}](https://spdx.org/licenses/MIT.html{{.Doc.Info.License.SpdxID}})
{{- else if (.Doc.Info.License.Name) (.Doc.Info.License.URL)}}
[{{.Doc.Info.License.Name}}]({{.Doc.Info.License.URL}})
{{- else}}
{{.Doc.Info.License.Name}}
{{- end}}
{{- end}}

{{- if or (.Doc.Info.Contact.Name) (.Doc.Info.Contact.Email) (.Doc.Info.Contact.URL)}}

#### Contact
{{if .Doc.Info.Contact.Name}}
{{.Doc.Info.Contact.Name}}  {{end}}
{{- if .Doc.Info.Contact.URL}}
{{.Doc.Info.Contact.URL}}  {{end}}
{{- if .Doc.Info.Contact.Email}}
[{{.Doc.Info.Contact.Email}}](mailto:{{.Doc.Info.Contact.Email}}){{end}}
{{- end}}

{{- if .Doc.Install}}

## Install
{{- range .Doc.Install}}

### {{.Name}}
{{- if .Command}}

```sh
{{.Command}}
```
{{- end}}
{{- if .URL}}

{{.URL}}
{{- end}}
{{- if .Description}}

{{.Description -}}
{{- end -}}
{{- end -}}
{{end -}}

{{- if and (.Doc.Commands) (.Doc.VisibleCommands) }}

---

## Commands
{{range .Doc.Commands}}{{if not .Hidden}}
### `$ {{.Line}}`
{{- if .Summary}}

{{.Summary}}{{end}}
{{- if .Description}}

{{.Description}}{{end}}
{{- if .Arguments}}
#### Arguments
{{range .Arguments}}
##### `<{{.Name}}>`
{{- if .Summary}}

{{.Summary}}{{end}}
{{- if .Description}}

{{.Description}}{{end}}

{{if .Choices}}`enum`{{else}}`{{.Type}}`{{end}} {{if .Required}}`required`{{end}}
{{- end}}
{{- end}}
{{- if and (.Flags) (.VisibleFlags)}}

#### Flags
{{range .Flags}}
##### `--{{.Name}}`
{{- if .Summary}}

{{.Summary}}{{end}}
{{- if .Description}}

{{.Description}}{{end}}

{{if .Choices}}`enum`{{else}}`{{.Type}}`{{end}} {{if .Required}}`required`{{end}}
{{- end}}
{{- end}}

---{{end}}{{end}}
{{end}}

<div style="text-align:center;font-size:12px;">generated by <a href="https://github.com/bcdxn/opencli">OpenCLI</a></div>