{{if .Doc.EnumeratedArgs}}
/* CLI command arg enums
------------------------------------------------------------------------------------------------- */
{{range $i, $cmd := .Doc.Commands}}{{if not .Group}}{{if .Arguments}}
{{- range $j, $arg := .Arguments}}{{if .Choices}}
type {{$cmd.Name | PascalCase}}{{$arg.Name | PascalCase}}ArgEnum struct {
	Enum     []string{{if $arg.Default}}
	Default  string{{end}}
	selected string
}

func (f *{{$cmd.Name | PascalCase}}{{$arg.Name | PascalCase}}ArgEnum) Set(value string) error {
	for _, enum := range f.Enum {
		if enum == value {
			f.selected = value
			return nil
		}
	}

	return fmt.Errorf("allowed values are %s", strings.Join(f.Enum, ", "))
}

func (f {{$cmd.Name | PascalCase}}{{$arg.Name | PascalCase}}ArgEnum) String() string {
	{{if $arg.Default}}if f.selected == "" {
		return f.Default
	}{{end}}
	return f.selected
}

func (f {{$cmd.Name | PascalCase}}{{$arg.Name | PascalCase}}ArgEnum) Get() any {
	{{if $arg.Default}}if f.selected == "" {
		return f.Default
	}{{end}}
	return f.selected
}
{{end}}{{end -}}
{{end}}{{end}}{{end}}
{{end}}