{{if or (.Doc.EnumeratedFlags) (.Doc.EnumeratedArgs)}}
/* Choices/enumeration enforcement type and methods
------------------------------------------------------------------------------------------------- */

// optionEnum is used to enforce enumerations for args/flags with choices.
type optionEnum struct {
	OptionName string
	Enum       []string
	Default    string
	selected   string
}

func (o *optionEnum) Set(value string) error {
	for _, enum := range o.Enum {
		if enum == value {
			o.selected = value
			return nil
		}
	}

	return fmt.Errorf("`%s` allowed values are [ %s ]", o.OptionName, strings.Join(o.Enum, ", "))
}

func (o optionEnum) String() string {
	if o.selected == "" {
		return o.Default
	}
	return o.selected
}

func (o optionEnum) Get() any {
	if o.selected == "" {
		return o.Default
	}
	return o.selected
}
{{end}}