{{- /*
  Generate the code that declares the individual args and flag variables. These are the variables
  whos reference is passed to the cobra commadn pflags library and will become the properties of the
  command-specific args and flags objects passed to the handler implementation function. e.g.:

  ```
  // flags
  var varSomeFlag string
  var varAnotherFlag bool
  ```
*/ -}}
{{- if .Flags}}
  // flags
  {{- range $i, $val := .Flags}}
  var flag{{.FlagPropName}} {{$val.Type}}
  {{- end}}
{{- end -}}
